/* global style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/*font-family: 'Roboto', sans-serif;*/
*{padding: 0px; margin: 0px; box-sizing: border-box;}
 .for-w-100{width: 100%; float: left; }
body { background-color: #fff;    color: #868d6c;    font-family: 'Roboto', sans-serif;    font-size: 14px;}
.fa, .fab, .fad, .fal, .far, .fas {
    line-height: inherit !important;
}
a {color: #24b3fe;    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover {text-decoration: none; }
a:focus {outline: none; text-decoration: none;}
a img {border: 0;}
img { max-width: 100%;}
/* Code for Select bg color with text color */
::-moz-selection {    color: #fff;    background: #0a6caf;}
::selection {    color: #fff;    background: #0a6caf;}
table { border-spacing: 0;}
h1,h2,h3,h4,h5,h6 {    font-family: 'Work Sans', sans-serif;    margin: 0;    padding: 0;}
p { font-family: 'Work Sans', sans-serif;  font-weight: 400;    margin: 0;    padding: 0;}
ol,ul { margin: 0; padding: 0;    list-style: none;}
/* button Style */
.btn.orange-button {
    padding: 10px 24px;
    border-radius: 50px;
    background: #fc490d;
    background: -moz-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: -webkit-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: linear-gradient(left, #fc490d 0%, #e92b02 100%);
    border: 0px;
}
/* button Style */
.btn.orange-button {
    padding: 12px 24px;
    border-radius: 50px;
    background: #fc490d;
    background: -moz-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: -webkit-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: linear-gradient(left, #fc490d 0%, #e92b02 100%);
    border: 0px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.btn.blue-button {
    padding: 12px 24px;
    border-radius: 50px;
    background: #0351d2;
    background: -moz-linear-gradient(right, #0351d2 0%, #25b5ff 100%);
    background: -webkit-linear-gradient(right, #0351d2 0%, #25b5ff 100%);
    background: linear-gradient(right, #0351d2 0%, #25b5ff 100%);
    border: 0px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.btn.orange-button:hover{
    background: #fc490d;
}
.btn.blue-button:hover{
    background: #0351d2;

}

/* Header Start */
.topn-nav-details {    width: calc(100% - 340px);
    float: right;
    clear: both;
    border-bottom: 1px solid #8891a1;
    display: flex;
    justify-content: flex-end;
    padding: 8px 0px;
}
.topn-nav-details  a{
    font-size: 14px;
color: #3c4f60;
padding: 0px 50px;
font-weight: 600;
position: relative;
}
.topn-nav-details a:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background: rgb(59, 59, 59);
    right: 0;
    top: 8px;
}
.topn-nav-details a:nth-last-child(1):after {
    display: none;
}
.topn-nav-details  a span{
    color: #0d57a2;
}
.topn-nav-details  a:hover span{
    color: #e92b02;
}
.topn-nav-details a:nth-last-child(1){
    padding-right: 0px;
    border: 0px;
}
.topn-nav-details a:nth-child(1){
    padding-left: 0px;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu {
    float: left;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu ul{
    width: 100%;
}

nav.navbar.navbar-expand-lg.navbar-light.men-menu a.navbar-brand {
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    z-index: 1;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu a.navbar-brand:after {
    content: "";
    width: 100%;
    bottom: 0px;
    left: 0;
    height: 47px;
    box-shadow: 0px 0px 3px #ccc;
    position: absolute;
    z-index: -1;
    border-radius: 9px;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu a.navbar-brand img {
    width: 260px;
    border-radius: 0px 0px 8px 8px;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu ul.navbar-nav li {
    margin-left: 3.5%;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu ul.navbar-nav li a {
    color: #8891a1;
    border-radius: 50px;
    padding: 6px 16px;
}
nav.navbar.navbar-expand-lg.navbar-light.men-menu ul.navbar-nav li.active a, nav.navbar.navbar-expand-lg.navbar-light.men-menu ul.navbar-nav li a:hover {
    color: #fff;
    background: #fc490d;
    background: -moz-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: -webkit-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: linear-gradient(left, #fc490d 0%, #e92b02 100%);
    color: #ffffff;
}
header.for-w-100 {
    box-shadow: 0px 0px 8px #ccc;
}



/* -------------------- Nav Type 2 ---------------------- */
.log-user-details {
    float: right;
    width: 100%;
    text-align: right;
}
a.for-email {
    display: inline-block;
    color: #939597;
    margin-right: 4px;

}
a.for-email:hover{
    color:#fc490d;
}
.profile-nav-img {
    display: inline-block;
}
.ser-log {
    display: inline-block;
}
.profile-nav-img img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0047a8;
    overflow: hidden;
    margin-right: 10px;
}
.ser-log a.ser-log-list {
    padding: 0px 10px;
    font-size: 18px;
    border-left: 1px solid #ccc;
    color: #0047a8;;
}
.ser-log a.ser-log-list:nth-child(1) {
    border: none;
}
.ser-log a.ser-log-list:nth-child(2) {
    padding-right: 0px;
}
.ser-log a.ser-log-list img{
    width: 28px;
}
/* -------------------- Nav Type 2 End ---------------------- */
/* Header End */
/* Banner start */
section.Banner.for-w-100 {
    padding: 10px 0px 0px;
    background: #3fd8f4;
    background: -moz-linear-gradient(left, #569ee3 0%, #67d7f6 30%, #3fd8f4 100%);
    background: -webkit-linear-gradient(left, #569ee3 0%,  #67d7f6 30%, #3fd8f4 100%);
    background: linear-gradient(left, #569ee3 0%,  #67d7f6 30%, #3fd8f4 100%);
}
section.Banner .bann-img{
    width: 100%;
    text-align: center;
}
section.Banner .bann-img img{
    max-width: 90%;
}
.home-banner-left-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 280px;
}
.home-banner-left-cont h1{
    color: #01105c;
    font-size: 46px;
    font-weight: 900;
}
.home-banner-left-cont h1 small{
    color: #054bcc;
}
.home-banner-left-cont h1 small span{
   font-weight: 700;
}
.home-banner-left-cont p{
    color: #2d3767;
    font-size: 16px;
    margin-top:4px;
}
.Banner .row{
    align-items: flex-end;
}
/* banner end */
/* innaer page conten-aria  Start*/
section.innerpage {
    padding: 60px 0px;
}
h1.inner-page-title{
    font-size: 30px;
    font-weight: 700;
    color: #054bcc;
    letter-spacing: 2px;
    margin-bottom: 8px;
}
/* innaer page conten-aria  End*/


/* footer */
footer.footer.Banner.for-w-100 {
    padding: 60px 0px 0px;
    background: #141924;
}

footer.footer.Banner.for-w-100 h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}
footer.footer.Banner.for-w-100 ul.footer-menu {
    margin: 0px;
    padding: 0px;
    column-count: 2;
}
footer.footer.Banner.for-w-100 ul.footer-menu li a {
    color: #fff;
    padding: 4px 0px;
    display: block;
    text-decoration: none;
    outline: none;
}
footer.footer.Banner.for-w-100 p a, footer.footer.Banner.for-w-100 ul.footer-menu li a:hover{
    color: #ffffff;
}
.for-w-100.copywright {
    padding: 20px 0px;
    text-align: center;
    margin-top: 60px;
    border-top: 1px solid #505050;
    color: #6f798d;
}
footer.footer.Banner.for-w-100 p {
    color: #d8dff0;
    margin-bottom: 20px;
}
footer.footer.Banner.for-w-100 p a {
    color: #d8dff0;
}
/* footer.footer.Banner.for-w-100 p span{
     color: #6f798d;
} */
.socil-media {
    text-align: center;
}
a.footer-ligo {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
a.footer-ligo img{
    max-width: 180px;
}
.socil-media {
    text-align: center;
}
.socil-media a {
    text-align: center;
    padding: 0px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    margin: 0px 4px;
    display: inline-block;
    border: 1px solid #3fd8f4;
    border-radius: 50%;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 12px;
}
.socil-media a:hover{
    background: #fc490d;
    background: -moz-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: -webkit-linear-gradient(left, #fc490d 0%, #e92b02 100%);
    background: linear-gradient(left, #fc490d 0%, #e92b02 100%);
    border: 1px solid #fc490d;
}

/* Inner page banner start */
.for-w-100.inner-page-banner .banner-left{
width: 100%;
}
.inner-page-banner .banner-left h1{
    color:#ffffff;
}
.inner-page-tag-title.for-w-100 {
    position: absolute;
    top: 0;
    left: 0;
}
.inner-page-tag-title.for-w-100 .banner-left h1 {
    color: #ffffff;
    margin-top: 50%;
    transform: translate(0px, -48px);
}

/* Inner page banner End */

/* left navbar */
ul.left-nav {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 8px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.col-sm-3.max-nav-width {
    max-width: 240px;
    min-width: 240px;
}
ul.left-nav li{
    display: block;
    width: 100%;
    border-top: 1px solid #dceaf6;
}
ul.left-nav li:nth-child(1){
    border: none;
}
ul.left-nav li a{
    display: block;
    width: 100%;
    padding: 16px 0px 16px  4px;
    font-size: 16px;
    line-height: 35px;
    color:#7f7f7f;
}
ul.left-nav li a:hover, ul.left-nav li.active a{
    color:#004cac;
}
ul.left-nav li a img{
    width: 30px;
    margin-top: -3px;
}


nav .breadcrumb.Pharmacist-doc-com {
    background: transparent;
    padding: 0px;
  }
  /* breadcrumb commonfor all */
  nav .breadcrumb.Pharmacist-doc-com li {
    font-size: 24px;
    display: initial;
    position: relative;
  }

  nav .breadcrumb.Pharmacist-doc-com li::before {
    display: none;
  }

  nav .breadcrumb.Pharmacist-doc-com li a {
    color: #294876;
  }

  nav .breadcrumb.Pharmacist-doc-com li a i {
    padding: 0 12px;
  }

  nav .breadcrumb.Pharmacist-doc-com li a span {
    border-bottom: 1px solid;
  }
  nav .breadcrumb.Pharmacist-doc-com li a  span.noborder{
border: none;
font-size: 18px;
}

  nav .breadcrumb.Pharmacist-doc-com li.active {
    color: #004cac;
  }

  nav .breadcrumb.Pharmacist-doc-com li small {
    display: block;
    font-size: 15px;
    color: #4d4d4d;
  }

  nav .breadcrumb.Pharmacist-doc-com li small a {
    color: #004cac;
  }

  .log-user-details form{
    max-width: 280px;
    text-transform: capitalize;
    font-weight: 900;
    display: inline-block;
    padding-right: 10px;
  }
  .log-user-details form label{
      display: inline-block;
  }
  .log-user-details form select{
    padding: 0px;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    color: #ff4d0f;
    border: none;
}

.Manage-Profile .main-form-fild .form-group-deliver-details .form-control {
    max-height: 22px;
    min-height: 22px;
    padding: 4px;
}
.Manage-Profile .main-form-fild .form-group-deliver-details {
    margin-left: 0;
    padding-top: 0px;
}
.max-w-22{
    width: 22px;
}
.Post-prescription-page .Post-prescription-right .tab-content .btn.blue-button.mr-lf-top {
    margin-left: 58px;
    margin-top: 8px;
}
/* input flip */
.effect-19{
	border: 1px solid #ccc;
	padding: 7px 14px;
	transition: 0.4s;
	background: transparent;
}
.effect-19~.focus-border:before,
.effect-19~.focus-border:after {
	content: "";
	position: absolute;
	top: -1px;
	left: 50%;
	width: 0;
	height: 2px;
}
.effect-19~.focus-border:after {
	top: auto;
	bottom: 0;
}
.effect-19~.focus-border i:before,
.effect-19~.focus-border i:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 2px;
	height: 0;
}
.effect-19~.focus-border i:after {
	left: auto;
	right: 0;
}
.effect-19:focus~.focus-border:before,
.effect-19:focus~.focus-border:after,
.has-content.effect-19~.focus-border:before,
.has-content.effect-19~.focus-border:after {
	left: 0;
	width: 100%;
}
.effect-19:focus~.focus-border i:before,
.effect-19:focus~.focus-border i:after,
.has-content.effect-19~.focus-border i:before,
.has-content.effect-19~.focus-border i:after {
	top: -1px;
	height: 100%;
	transition: 0.6s;
}
.effect-19~label {
	position: absolute;
	left: 18px;
	width: 100%;
	top: 10px;
	color: #aaa;
	transition: 0.3s;
    letter-spacing: 0.5px;
    z-index: 0;
    pointer-events: none;
    font-size: 17px;
}
.effect-19:focus~label,
.has-content.effect-19~label {
	top: -16px;
	left: 12px;
	font-size: 10px !important;
    transition: 0.3s;
    background: #fff;
    padding: 2px 10px;
    width: auto !important;
    border-radius: 8px;
}


/* choose your doctor Prescription p11 new */
.gp-Specialists .gp-s-det{
    justify-content: center;
    color: #000;
    font-size: 18px;
}
.gp-Specialists .gp-s-det button.btn.btn-primary.Send-Requests {
    background: transparent;
    color: #000;
    border: 2px solid;
}
.pick-a-prescriber ul{
    list-style: decimal;
}
.pick-a-prescriber ul li{
    padding-left: 32px;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    position: relative;
}
.pick-a-prescriber ul li:nth-child(even)::after,
.pick-a-prescriber ul li::after{
    content: "";
    position: absolute;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius:50%;
    top: 10px;

}
.pick-a-prescriber ul li:nth-child(even)::after{
    background-color: #ff4d0f;
}
.pick-a-prescriber ul li::after{
    background-color: #868d6c;
}
.pick-a-prescriber ul li:nth-child(even){
    color: #ff4d0f;
}
.pick-a-prescriber h3{
    font-weight: 700;
    color: #0047a8;
    font-size: 20px;
}
.pick-a-prescriber h3 sup{
    top: -20px;
    position: relative;
}
.prescription-fees h2{
    font-size: 20px;
    font-weight: 700;
    color: #0047a8;
    margin-bottom: 10px;
}
.prescription-fees p{
    font-size: 18px;
    color: #0047a8;
    margin-bottom: 10px;
}
.pick-a-prescriber .ask-all-doc{
    display: block;
    border-radius: 10px;
    border: 1px solid #0047a8;
    padding: 30px;
    margin-bottom: 12px;
}
.pick-a-prescriber .ask-all-doc h3{
color: #000;
}
.ask-all-d{
margin-bottom: 12px;
}
.ask-all-d .ask-a-d {
    position: relative;
    color: #0047a8;
    padding-left: 150px;

}
.ask-all-d .ask-a-d span{
    font-weight: 700;
    font-size: 20px;
    position: relative;
    bottom: -82px;
}

tr.only-remv:after{
    display: none;
}
.add-edit-prs .modal-content button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
}
.add-edit-prs .modal-content .input-effect .form-group{
        position: relative;
}
.add-edt-table-details tr td a {
    width: 40px;
    height: 40px;
    margin: 4px;
    background: #004cac;
    color: #fff !important;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    float: left;
    font-size: 14px;
    cursor: pointer;
}
.add-edt-table-details tr td a.delt{
    background: #e92b02;
    color: #fff !important;
}
/* FAQ STYLE */
.faq-accordian .card {
    margin-bottom: 20px;
    border: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.faq-accordian .card .card-header {
    border: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.faq-accordian .card .card-header .btn-header-link {
    display: block;
    text-align: left;
    background: #e3e3e3;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    padding: 20px 20px 20px 45px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.faq-accordian .card .card-header .btn-header-link:after {
    content: "\f068";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    left: 15px;
    left: 15px;
    top: 20px;
}
.faq-accordian .card .card-header .btn-header-link.collapsed {
    background: rgb(255, 255, 255);
    color: #333;
}
.faq-accordian .card .card-header .btn-header-link.collapsed:after {
    content: "\f067";
}
.faq-accordian .card .collapse {
    border: 0;
}
.faq-accordian .card .card-body{
    color: #777;
    font-size: 16px;
}
section.news-banner-bx.for-w-100{
    padding-top: 0;
}
section.news-banner-bx .news-banner-img{
    height: 300px;
}
section.news-banner-bx .news-banner-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.top-doctor-warning-info{
    margin-top: 20px;
}
.top-doctor-warning-info li{
    color: #000;
    font-size: 18px;
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}
.top-doctor-warning-info li i{
    color: #777;
    vertical-align: middle;
}
/* .infotooltip:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: -6px;
    content: "";
    position: absolute;
    z-index: 99;
    margin-left: -5px;
} */
.infotooltip {
    border-radius: 4px !important;
    background-color: #333;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px #333;
    width: 200px;
    color: #fff;
    overflow: hidden;
}
.td-search-control-bx{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
.td-select-control{
    display: flex;
    align-items: center;
}
.td-select-control label{
    margin-bottom: 0;
    margin-right: 5px;
    color: #0047a8;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}
.td-select-control .form-control {
    min-height: 46px;
    border-radius: 8px;
    background: #fff;
    border-color:#d9dee1;
    min-width: 140px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.td-select-control .select{
    position: relative;
    margin-right: 10px;
}
.td-select-control .select::after {
    content: "";
    position: absolute;
    border: 6px solid #707070;
    height: 0px;
    width: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: transparent;
    right: 10px;
    top: 21px;
    pointer-events: none;
}
.td-select-control .form-control::-ms-expand {
    display: none;
}
.td-search-right-bx .form-control {
    min-height: 46px;
    border-radius: 8px;
    background: #fff;
    min-width: 280px;
    border-color:#d9dee1;
}
.td-table-bx .table{
    border: 1px solid #f7f7f9;
    border-radius: 8px;
}
.td-table-bx .table thead th {
    border-bottom: 0;
    background-color: #f1f4f9;
    font-weight: normal;
    color: #909497;
    white-space: nowrap;
}
.td-table-bx .table td,
.td-table-bx .table th{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top-color: #f7f7f9;
    color: #555555;
}
.td-table-bx{
    border:1px solid #d9dee1;
    padding: 15px;
    border-radius: 8px;
}
.top-doctor-details-info{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}
.top-doctor-details-info .doctor-info-right{
    width: calc(100% - 240px);
    padding-left: 30px;
}
.top-doctor-details-info .doctor-info-right p{
    color: #555555;
    font-size: 17px;
    margin-top: 7px;
}
.top-doctor-details-info .doctor-info-right h3{
    color: #0047a8;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 7px;
}
.top-doctor-details-info .doctor-info-right h5{
    color: #555;
    font-size: 18px;
    margin-bottom: 12px;
}
.top-doctor-details-info .doctor-info-right p.tdd-text-warning{
    color: #0047a8;
    font-size: 22px;
}
.top-doctor-details-info .doctor-img-left{
    height: 290px;
    width: 240px;
}
.top-doctor-details-info .doctor-img-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.view-moreilink {
    font-weight: 500;
    color: #00a3fe !important;
}
.info-si-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.patient-flex-bx-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.patient-cp-link{
  color: #202020;
  font-size: 18px;
}
.patient-book-lc{
    padding: 4px;
    text-align: center;
    height: 48px;
    border-radius: 12px;
    border: 0;
    margin-top: 10px;
    background: #ff4d0f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.patient-book-lc:hover{
    background: #ff4d0f;
    color: #fff;
}
.ts-collapse-icon{
    position: relative;
}
.ts-collapse-icon:after,
.ts-collapse-icon[aria-expanded="true"]:after{
    width: 16px;
    height: 16px;
    color: #0d57a2;
    font-family: "Font Awesome 5 Pro";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.ts-collapse-icon:after{
    content:"\f067";
}
.ts-collapse-icon[aria-expanded="true"]:after{
    content:"\f068";
}
#time_slot tr td:nth-child(1),
.Available-table-details table tr th:nth-child(1){
    width: 30%;
}
#time_slot tr td:nth-child(2),
.Available-table-details table tr th:nth-child(2){
    width: 20%;
}
#time_slot tr td:nth-child(3),
.Available-table-details table tr th:nth-child(3){
    width: 20%;
}
#time_slot tr td:nth-child(4),
.Available-table-details table tr th:nth-child(4){
    width: 20%;
}
#time_slot tr td:nth-child(5),
.Available-table-details table tr th:nth-child(5){
    width: 10%;
}
#time_slot tr td.time-slot-td{
    padding: 0;
}
.profile-tabs-wrap {
    display: flex;
    justify-content: space-between;
}
.file-upload-bx{
    display: flex;
    flex-wrap: wrap;
}
.vdp-tabs{
    margin-bottom: 10px;
}
.vdp-tabs a{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90px;
    margin-right: 20px;
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.vdp-tabs a.active, 
.vdp-tabs a:hover {
    background-color: #294876;
    color: #fff;
}
.vdp-tabs a.active span, 
.vdp-tabs a.active i, 
.vdp-tabs a:hover span, 
.vdp-tabs a:hover i{
    color: #fff;
}
.vdp-tabs a i{
    font-size: 34px;
    color: #294876;
}
.vdp-tabs a span {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
}
.sc-item-bx{
    padding: 15px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.bg-light-blue{
    background-color: #dcedff;
}
.bg-light-yl{
    background-color: rgb(255 152 0 / 20%);
}
.bg-light-gray{
    background-color: rgb(73 84 90 / 18%)
}
.vdp-upload-gallery{
    display: flex;
    flex-wrap: wrap;
    margin-left: -7px;
    margin-right: -7px;
    position: relative;
    list-style: none;
    padding: 0;
}
.vdp-upload-gallery li {
    padding: 7px;
    width: 20%;
}
.vdp-upload-gallery li a {
    height: 134px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}
.vdp-upload-gallery li a i{
    font-size: 50px;
}
.vdp-upload-gallery li a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .5s ease;
}
.datePicker-input-field{
    position: relative;
}
.datePicker-input-field button{
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    width: 34px;
    border: 0;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
}
.datePicker-input-field button:focus{
    outline: 0;
}
.datePicker-input-field .form-control[readonly] {
    background-color: #fff;
}
.ui-datepicker {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.ui-datepicker-header {
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background: #0069d9;
  margin-bottom: 10px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-top: 12px;
}
.ui-datepicker-prev {
  float: left;
  margin-left: 12px;
}
.ui-datepicker-prev:after {
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
  float: right;
  margin-right: 12px;
}
.ui-datepicker-next:after {
  transform: rotate(-135deg);
  margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
  border-color: #333333;
}
.ui-datepicker-title {
  text-align: center;
  font-weight: 700;
  font-size:18px;
}
.ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
.ui-datepicker-calendar thead tr th span {
  display: block;
  width: 40px;
  color: #555;
  margin-bottom: 5px;
  font-size: 14px;
}
.ui-state-default {
  display: block;
  text-decoration: none;
  color: #333;
  line-height: 40px;
  font-size: 15px;
}
.ui-state-default:hover {
  color: #ffffff;
  background:#0069d9;
  border-radius:50px;
  transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
}
.ui-state-highlight {
  color: #ffffff;
  background-color:#0069d9;
  border-radius:50px;
}
.ui-state-active {
  color: #ffffff;
  background-color:#0069d9;
  border-radius:50px;
}
.ui-datepicker-unselectable .ui-state-default {
  color: #eee;
  border: 2px solid transparent;
}
.multiOpt-input-field.form-group.required::before{
    z-index: 11;
}
.multiOpt-input-field .select2-container{
    position: relative;
    top: 0;
    left: 0;
}
.multiOpt-input-field .select2-container--default.select2-container--focus .select2-selection--multiple,
.multiOpt-input-field .select2-container--default .select2-selection--multiple{
    min-height: 56px;
    border-radius: 8px;
    background: #f9fafc;
    border: 1px solid #ced4da;
    padding: 10px 5px 5px 20px;
}
.multiOpt-input-field .select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
.multiOpt-input-field .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    bottom: 0;
}
.all-reviews-list li{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding: 15px;
}
.all-reviews-list li:first-child{
    margin-top: 0;
}
.all-reviews-list li h4{
    font-size: 17px;
    color: #3c4f60;
    font-weight: 600;
}
.all-reviews-list li p,
.dr-reviews-list li p{
    margin-top: 6px;
    color: #555 !important;
}
.ratings-out-txt{
    font-size: 16px;
    color: #ff9040;
    font-weight: 600;
}
.dr-reviews-list{
    margin-top: 15px;
}
.dr-reviews-list li{
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.dr-reviews-list li:first-child{
    padding-top: 0;
}
.dr-reviews-list li h4{
    font-size: 15px;
    color: #3c4f60 !important;
    font-weight: 600;
}
.dr-btn-readmore{
    color: #004cac;
    border-radius: 30px;
    border-color: #004cac;
    background-color: #fff;
    padding: 7px 18px;
    font-weight: 600;
}
.dr-btn-readmore:hover{
    background-color: #004cac;
    color: #fff;
}
.apt-btn-group .btn-primary{
    border-radius: 30px;
    font-size: 14px;
    padding: 4px 11px;
    margin-right: 5px;
}
.mfd-item-linfo{
    width: calc(100% - 155px);
}
.pht-profile .Customer-Pick-up label{
    margin-left: 0 !important;
    border:1px solid #ccc;
    background: #f9fafc;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.pht-profile .Customer-Pick-up .form-check{
    padding-left:0;
}
.pht-title-do{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pdt-deliver-eg-bx{
    margin-bottom: 8px;
}
.pdt-deliver-eg-bx label{
    font-size: 12px;
    color: #585859;
}
.pdt-deliver-eg-bx .form-control{
    min-height: 36px !important;
    border-color:#ccc;
    padding-left: 12px!important;
    padding-right: 12px!important;
}
.login-page form .form-group.login-password-field .form-control{
    margin-bottom: 0;
}
.login-page form .form-group.login-password-field .password-input-group{
    position: relative;
}
.login-page form .form-group.login-password-field .password-input-group button.btn{
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    min-width: 50px;
    font-size: 17px;
    border-radius: 8px;
    color: #6b6b6b;
    border: 0 !important;
}
.login-page form .form-group.login-password-field .password-input-group button.btn:focus,
.login-page form .form-group.login-password-field .password-input-group button.btn:hover{
    box-shadow: none;
    color: #294876;
}
.pharmacies-item{
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: relative;
}
.pharmacies-item-infoleft{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.pharmacies-item .card-body{
    padding-left: 15px !important;
    padding-right: 0 !important;
    width: calc(100% - 80px);
}
.pharmacies-item .card-body h2{
    font-weight: 700;
    color: #111d64;
    font-size: 22px;
    margin-bottom: 10px;
    width: calc(100% - 125px);
}
.pharmacies-item-infoleft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.AvailabilityBtn{
    position: absolute;
    right: 20px;
    top: 20px;
}
.phar-time-table{
    padding: 10px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 35%);
    border: 0;
    width: 290px;
}
.phar-time-table .table{
    margin-bottom: 0;
}
.phar-time-table .table td, 
.phar-time-table .table th{
    font-size: 14px;
    padding: 8px;
}
.btn-phar-Availability{
    border: 2px solid #004cac;
    background: #fff;
    color: #004cac;
    font-size: 15px;
    border-radius: 30px;
    padding: 6px 15px;
    font-weight: 500;
}
.btn-phar-Availability:hover,
.btn-phar-Availability:focus{
    border-color: #ff4d0f;
    background: #ff4d0f;
    color: #fff;
}
.phar-pas-bx p{
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}
.p-case-select-field .form-group{
    display: inline-block;
}
.cp-select{
    padding-left: 14px!important;
}
.v-case-view{
    display: flex;
}
.v-case-view a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #0068c4;
    font-size: 40px;
    position: relative;
    overflow: hidden;
}
.v-case-view a .v-case-view-btn{
    display: none;
}
.v-case-view a:hover .v-case-view-btn{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.v-case-view a:hover .v-case-view-btn span{
    background-color: #fff;
    display: inline-block;
    padding: 4px 12px;
    color: #1076e3;
    font-size: 13px;
    font-weight: 700;
    border-radius: 20px;
}
.dash-icons-bx{
    margin-bottom: 15px;
}
.dash-icons-bx img{
    margin:0 10px;
}
.profile-header-bx{
    display: flex;
    align-items: center;
}
.profile-image-bx{
    width: 100px;
    height: 100px;
    position: relative;
}
.profile-image-bx .profile-image-upload{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
}
.profile-image-bx .profile-image-upload img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-image-bx .profile-image-upload-btn input{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.profile-image-bx .profile-image-upload-btn{
    position: absolute;
    bottom: 0;
    right: 4px;
    background-color: #3c4f60;
    text-align: center;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}
.profile-header-bx .profile-info{
    width: calc(100% - 100px);
    padding-left: 20px;
}
.h-notifications-btn{
    position: relative;
}
.h-notifications-btn span{
    position: absolute;
    top: -4px;
    right: 6px;
    width: 18px;
    height: 18px;
    background-color: #fc490d;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.dash-icon-badge{
    position: relative;
    display: inline-block;
}
.dash-icon-badge span{
    position: absolute;
    top: -3px;
    right: 1px;
    width: 18px;
    height: 18px;
    background-color: #fc490d;
    font-size: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.pp-mrgn-left-20{
    margin-left: 20px !important;
}
.cmn-card-box{
    border-radius: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.padding-20{
    padding: 20px 20px 5px 20px;
}
a.Set-Opening-Hours.pp-oh-btn{
    margin-left: 0 !important;
    display: inline-block;
    border: 1px solid #24b1fe;
    color: #117be5;
    padding: 8px 18px 8px 13px;
    border-radius: 25px;
}
.Manage-Profile .Customer-Pick-up input:checked ~ label {
    background: rgb(33 169 250 / 16%) !important;
    color: #004cac;
}
.pm-btn-grp{
    text-align: left !important;
    margin-top: 20px !important;
}